<h2>Date: {{attendance.date}}</h2>
<table>
  <thead>
    <tr>
      <th>Nơi làm việc</th>
      <th>Giờ bắt đầu</th>
      <th>Giờ kết thúc</th>
      <th>Thời gian làm việc</th>
    </tr>
  </thead>
  <tbody>
    {{#each attendance}}
      <tr>
        <td>{{date}}</td>
        <td>{{details}}</td>
        {{!-- <td>{{tolocaledatestring details.startTime}}</td>
                    {{#if endTime}}
                        <td>{{tolocaledatestring details.endTime}}</td>
                        <td>{{details.endTime}}</td>
                    {{else}}
                        <td>--</td>
                        <td>--</td>
                    {{/if}} --}}
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="attendance-details-footer">
  <a href="/">Quay lại</a>
</div>