<div class="container">
  <div class="card-deck">
    <div class="card bg-light">
      <div class="card-body text-center">
        <img class="cover narrow" src="{{user.image}}" alt="{{user.name}}" />
        <p>Thay đổi ảnh đại diện: </p>
        <form action="/edit-user" method="Post">
          <input type="text" name="image" id="image" />
          <input type="hidden" name="id" value="{{user._id}}" />
          <button type="submit">Save</button>
        </form>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-left">
        <h5>Họ và tên: {{user.name}}</h5>
        <p>Ngày sinh: {{tolocaledatestring user.dob}}</p>
        <p>Lương cơ bản: {{user.salaryScale}} VND</p>
        <p>Ngày bắt đầu làm việc: {{tolocaledatestring user.startDate}}</p>
        <p>Phòng: {{user.department}}</p>
        <p>Ngày nghỉ phép còn lại: {{user.annualLeave}}</p>
      </div>
    </div>
  </div>
</div>

{{!-- <script src="{{user.image}}"></script> --}}